<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Biosummit '16</title>
  <meta name="description" content="events">
  <meta name="author" content="Synchon Mandal">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize/materialize.min.css') }}"  media="screen,projection"/>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename = 'favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'favicon/favicon-32x32.png') }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'favicon/favicon-16x16.png') }}" sizes="16x16">
  <link rel="manifest" href="{{ url_for('static', filename = 'favicon/manifest.json') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename = 'favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Fixed Navbar (Common to all templates) | Don't modify -->
    <div class="navbar-fixed z-depth-2">
      <nav>
        <div class="nav-wrapper green grey darken-4">
        <a href="#" data-activates="nav-mobile" class="right button-collapse"><i class="material-icons">menu</i></a>
        <a href="/" class="center brand-logo hide-on-large-only"><img src="{{ url_for('static', filename='img/core/biosummit_light.png') }}"></a>
            
        <!-- hides on medium and small devices -->
          <ul class="hide-on-med-and-down">
            <li><a href="/"><img src="{{ url_for('static', filename='img/core/biosummit_light.png') }}"></a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="team.html">Our Team</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="industry.html">Industry Associates</a></li>
            <li><a href="#" data-activates="slide-out" class="valign-wrapper center-align button-form waves-effect waves-light btn">Register</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><a href="http://serb.gov.in/home.php"><img src="{{ url_for('static', filename='img/core/nserb.png') }}"></a></li>
            <li><a href="http://vit.ac.in"><img src="{{ url_for('static', filename='img/core/vit_logo.png') }}"></a></li>
          </ul>
            
        <!-- activates only for devices of medium and small devices -->
            <ul id="nav-mobile">
                <li><a href="events.html">Events</a></li>
                <li><a href="team.html">Our Team</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="industry.html">Industry Associates</a></li>
                <li><a href="http://serb.gov.in/home.php"><img src="{{ url_for('static', filename='img/core/nserb.png') }}"></a></li>
                <li><a href="http://vit.ac.in"><img src="{{ url_for('static', filename='img/core/vit_logo.png') }}"></a></li>
            </ul>
            
        </div>
      </nav>
    </div>
    
    <! --Side Nav -->
    
    
    <ul id="slide-out" class="side-nav">
            <li><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeNQcS4V74VxE9t31aKcHUygdDjpULR8yiGap3OBCsPTBI-Yg/viewform?embedded=true" width="300" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></li>
    </ul>

    <!-- Start of events portal -->
 
    <div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='img/events/panel_discussion.png') }}"></div>
    </div>
    
    <div class="section white">
        <div class="row container">
        <h4>Panel Discussion</h4>
            <ol class="collection z-depth-1">
                <li class="collection-item">Skillset requirements for Life Science graduates in Bioindustries.</li>
                <li class="collection-item">Internships and placement opportunities for aspiring biologists.</li>
                <li class="collection-item">Start-ups and funding models for emerging biologists and technocrats.</li>
                <li class="collection-item">Higher education opportunites in India and abroad.</li>
                <li class="collection-item">Alumni interaction : “How to make yourself more employable?”</li>
            </ol>
        </div>
    </div>

    <div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='img/events/technical_event.png') }}"></div>
    </div>
    
    <div class="section white">
      <div class="row container">
        <h4>Technical Events</h4>

        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Startup Bio</div>
                <div class="collapsible-body">
                    <div class="container">
                        <ul>
                            <br/><li>Participants can present their start-up idea or a business plan.</li></br>
                            <li>Preliminary screening and developmental sessions wil be held until the idea is feasible.</li></br>
                            <li>Participants will present their idea to the panel. Each team will be given a maximum time of 6 mins.</li></br>
                            <li>Investment offers and grants may be made.</li></br>
                            <li>Evaluation will be done based on the novelty of idea, business plan, presentation skills, problem statement and real world feasibility.</li></br>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Poster presentation</div>
                <div class="collapsible-body">
                    <div class="container">
                        <ul>
                            <br/><li>Participants can present their research/review paper related to any topic/work in biology.</li><br/>
                            <li>The participants may have a maximum of 3 members per group.</li><br/>
                            <li>The jury will look through the posters and evaluate.</li><br/>
                            <li>The evaluation will be based on the matter in the poster, novelty, knowledge about the topic and presentation skills.</li><br/>
                            <li>The best poster will be selected and awarded with cash prizes.</li><br/>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Challenging the visuals</div>
                <div class="collapsible-body">
                    <div class="container">
                        <ul>
                            <br/><li>This event will test the observation skill of the participants.</li><br/>
                            <li>The participants have to work in a group of 3 members.</li><br/>
                            <li>The teams will be displayed a visual based on which they will have to answer the questions.</li><br/>
                            <li>There will be multiple round like buzzer round and rapid fire round.</li><br/><li>The best 3 teams will be awarded with prizes.</li><br/>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Forensic Hunt</div>
                <div class="collapsible-body"><p>This event drills the thinking skills of the participants. The event will have 2 rounds -
                    <div class="container">
                        <ul><li><b>Round 1:</b> The participants will be working in teams of 3-5. First, they have to undergo a written test which will have set of questions and puzzles. The best performers of this round will go to Round 2.</li>
                    <br/>
                            <li><b>Round 2:</b> The selected teams will be given field work to hunt for evidences and solve a given particular case. The evaluation of this will be based on time and strategy of the hunt. Each team will be under the surveillance of a volunteer.</li></ul></p></div></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Bioinspired Design and Prototype Development</div>
                <div class="collapsible-body">
                    <div class="container">
                        <ul>
                            <br/><li>The participants can have a group of maximum 4 members.</li><br/>
                            <li>Each has to present their idea with a working model/prototype.</li><br/>
                            <li>The teams will be given a maximum of 5 minutes to explain their model.</li><br/><li>Following this, there will be 5-7 mins questioning session by the jury.</li><br/><li>The evaluation will be based the novelty, practical application and commercial feasibility of the idea and presentation skills.</li><br/>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </div>

    <div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='img/events/instrument.png') }}"></div>
    </div>

    <div class="section white">
        <div class="row container">
            <h4>Instrumentation tour</h4>
            <p>Complementary Instrumentation tour for external participants will be arranged. Students will be exposed to various labs at VIT University, where we have high end instruments like Scanning Electron Microscope (SEM), Transmission Electron Micrscope (TEM), Atomic Force Microscope (AFM), GCMS, HPLC, Lyophilizer, NMR, Nanoparticle Analyser, XRD, FTIR, etc.</p>
        </div>
    
    </div>
        
    <div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='img/events/registration.png') }}"></div>
    </div>

    <div class="section white">
        <div class="row container">
              <div class="col s12 m6">
                <h5>Queries:</h5>
                    <ul>
                        <li>* Demand Draft should be drawn in favour of <b>“VIT University”</b> payable at Vellore.</li>
                        <li>* Base Registration: Registration kit + Panel Discussions + Poster Presentation + Working Lunch + Any 1 event = <b>INR 250</b></li>
                        <li>* Events = INR 100 per participant per event</li>
                        <li>* VIT Biosummit 2016 T-shirt = <b>INR 250</b></li>
                        <li>* Combo = Base Registration + T-shirt = <b>INR 450</b></li>
                        <li>* Accomodation would be provided in VIT Hostel dorms on payment basis. Fee = <b>INR 275</b> per person per day.</li>
                    </ul>
              </div>
        <div class="col s12 m6 center-align">
            <h5>Contact:</h5>
                <ul>
                  <li>Dr. S. Vino: +91 9944807642</li>
                  <li>Mr. Anurag: +91 9629256306</li>
                  <li>Mr. Shivohum: +91 9994474677</li>
                </ul>
        </div>
        </div>
    </div>


    <!-- Footer --------------------------- -->
        

    <footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Address:</h5>
                    <ul class="grey-text text-lighten-4">
                        <li>Convener - VIT Biosummit 2016</li>
                        <li>School of Bio Sciences and Technology, VIT University, Vellore - 632014, Tamil Nadu, India</li>
                        <li>Email - vitbiosummit2016@gmail.com</li>
                    </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links:</h5>
                <ul>
                    
                    <div><li><a href="https://www.facebook.com/vitbiosummit/" class="white-text valign-wrapper"><img src={{ url_for('static', filename='img/core/facebook.png') }} style="padding: 0.5rem;">Like us!</a></li></div>
                    <div><li><a href="https://www.instagram.com/vitbiosummit/" class="white-text valign-wrapper"><img src={{ url_for('static', filename='img/core/instagram.png') }} style="padding: 0.5rem;">Follow us!</a></li></div>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Synchon Mandal
            </div>
          </div>
        </footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static' ,filename='js/materialize/materialize.min.js') }}"></script>
  <script>
      $(document).ready(function(){
          $(".button-collapse").sideNav();
          $('.parallax').parallax();
          $(".button-form").sideNav({
            menuWidth: 300,
            edge: 'right',
            closeOnClick: true,
            });
        });
  </script>
</body>
</html>